<p class="text-center" style="font-family: 'Verdana', sans-serif;">{{quote.description}}</p>

<!-- <p class="text-center" style="font-family: 'Vivaldi', cursive;">This Quote was submitted {{quote.completeDate|dateCount}} days ago</p> -->

<button class="btn btn-info" type="submit" (click)='voteUp()' >
  <span class="glyphicon glyphicon-thumbs-u" aria-hidden="true"></span>

  <span class="badge">{{upvote}} Likes</span>
</button>

<button (click)='voteDown()' class="btn btn-info" type="submit">

  <span class="badge">{{downvote}} Dislikes</span>
</button>

<!--Collapse Like Section -->

<!-- Delete Button to delete quote -->
<div style="width: 21%;">
  <a href="#" class="text-right btn btn success" color="red" (click)='quoteDelete(true)'>DELETE QUOTE</a>
</div>